<div class="row">
    <div class="col-xs-12">
        <h2 class="no-margin-top">Edit Company</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form" #companyForm="ngForm" (ngSubmit)="save(companyForm)">
            <div class="row start-xs">
                <mat-form-field class="col-xs-12 col-md-4">
                    <input matInput placeholder="Name" name="name" [(ngModel)]="company.name" required maxlength="50">
                </mat-form-field>
            </div>            
            <div class="row start-xs action-buttons col-md-6 col-xs-12">
                <button mat-raised-button (click)="cancel()" type="reset">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>